:root {
    --color-white: #f3f3f3;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}

body {
  /* content: '';
  /* position: fixed; */
  top: 0;
  left: 0;
  margin: 10px;
  padding: 10%;
  height: 100%;
  weight: 100%;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-white);
  margin: 0;
  /* box-sizing: border-box; */
}

#title, #description {
  text-align: center;
  justify-content: center;
  /* font-size: 0.8rem; */
}

#survey-form {
  background: var(--color-darkblue-alpha);
  padding: 30px;
  border-radius: 10px;
  max-width: 720px;
  margin: 3.125rem auto 0 auto;
  width: 100%;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
}

textarea {
  width: 100%;
  height: 100px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
